[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
ansicon = "*"
arrow = "*"
asgiref = "*"
attrs = "*"
billiard = "*"
blessed = "*"
celery = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
cligj = "*"
colorama = "*"
contourpy = "*"
cycler = "*"
dj-database-url = "==0.5.0"
django = "==3.1"
django-picklefield = "*"
django-q = "*"
filelock = "*"
fiona = "*"
fonttools = "*"
fsspec = "*"
geopandas = "*"
gunicorn = "*"
idna = "*"
jinja2 = "*"
jinxed = "*"
joblib = "*"
kiwisolver = "*"
kombu = "*"
markupsafe = "*"
matplotlib = "*"
mpmath = "*"
networkx = "*"
numpy = "*"
opencv-python = "*"
osmnx = "*"
packaging = "*"
pandas = "*"
pillow = "*"
prompt-toolkit = "*"
psycopg2-binary = "==2.9.10"
pyogrio = "*"
pyparsing = "*"
pyproj = "*"
python-dateutil = "*"
pytz = "*"
redis = "==3.5.3"
requests = "*"
scikit-learn = "*"
scipy = "*"
shapely = "*"
six = "*"
sqlparse = "*"
sympy = "*"
threadpoolctl = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"
types-python-dateutil = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
vine = "*"
wcwidth = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
